.navbar {
    overflow: hidden;
    background-color: #333;
}
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
}
.progress-container {
      width: 100%;
      background-color: #f3f3f3;
  }
  .progress-bar {
      width: 1%;
      height: 5px;
      background: linear-gradient( 145deg,#4CAF50, yellow, red, #4CAF50, yellow, red, #4CAF50, yellow, red, #4CAF50, yellow, red, #4CAF50, yellow, red);
      background-size: 300% 300%;
      animation: progress 2s ease-in-out forwards;
  }
  @keyframes progress {
      from { width: 1%; }
      to { width: 100%; }
  }