/* CSS for Episode 41 */
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}


@media screen and (max-width: 800px) {
    body {
        background-color: rgb(169, 198, 208);
    }    
}

  .modal-container {
    width: 100%;
    padding: 40px;
    background-color: #2f76bd;
  }
  .modal-exemple {
    background-color: white;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 3px 10px 2px rgb(156, 155, 155);
    transition: 0.5s;
  }
  .modal-exemple:hover {
    box-shadow: 0 3px 10px 4px rgb(198, 196, 196);    
  }
 
  

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
    animation: zoom 1s ease-in;    
}
@keyframes zoom {    
    0% {transform: scale(0.5);}
    100% {transform: scale(1);}
}
.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
